<div class="container">
  <div class="row">
    <h1><%= @cocktail.name %></h1>
    <h4>Ingredient</h4>
    <div class="thumbnail col-lg-8">
      <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <%= link_to "Add dose",  new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>

        <li class="list-group-item col-sm-4 col-xs-4 col-lg-4">
          <%= dose.ingredient.name %>

          <%= dose.description %>
          <button id="sweet-alert-demo" class="btn btn-danger">Delete</button>
          <%= link_to "", dose_path(dose), method: :delete, id: "delete-link", class: "hidden" %>


      <% end %>
      </li>
    </ul>
  </div>
</div>
